* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;    
}

.card {
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    align-self: center;
}

.card-title {
    color: grey;
}

.card-price {
    color: rgba(248, 83, 33, 0.856);
}

.card-price:before {
    content: "\20BD";
    font-size: 12px;
}

.btn {
    width: 135px;
    height: 30px;
    background-color: rgb(187, 187, 187);
    border: none;
    border-radius: 3px;
    color: white;
    transition: .2s;
}

.btn:hover {
    background-color: rgb(141, 141, 141);
}